<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkZO1t6SvwYI1EmYGiuLdXSITZN-L8NeU</string>
	<key>GCM_SENDER_ID</key>
	<string>763626321146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vitapp-50590</string>
	<key>STORAGE_BUCKET</key>
	<string>vitapp-50590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763626321146:ios:ed4d7219d21cfb7e084543</string>
</dict>
</plist>